.navbar-nav a:hover {
    transform: scale(1.1);
  }
  .filter-input {
    margin-bottom: 15px;
    max-width: 180px;
}

span {
    font-weight: bolder;
}

.custom-tabs .nav-link {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.custom-tabs .nav-link i {
    margin-right: 5px;
}

.custom-tabs .nav-link:hover,
.custom-tabs .nav-link:focus {
    background-color: #f0f0f0;
    color: #007bff;
}

.custom-tabs .nav-link.active {
    background-color: #007bff;
    color: #fff;
    border-bottom: 3px solid #0056b3;
}

.custom-tabs .nav-link.active i {
    color: #fff;
}

.nav-tabs {
    border-bottom: 2px solid #ddd;
}

/* Ícones de edição */
.modal-trigger img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.modal-trigger img:hover {
    transform: scale(1.2);
}

.table {
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.table thead {
    background-color: #343a40;
    color: white;
}

.dataTables_wrapper .dataTables_paginate,
        .dataTables_wrapper .dataTables_info {
            color: white;
        }

        .dataTables_wrapper .dataTables_length label,
        .dataTables_wrapper .dataTables_filter label {
            color: white;
        }

        .table {
            border-radius: 10px;
            overflow: hidden;
            text-align: center;
            vertical-align: middle;
        }